{% extends '_layout.html' %}

{% block body %}
  <div class="container my-5">
    <h1 class="display-4 mb-3">Welcome to Tables!</h1>
    <h3>Tables is a social media platform where users can ONLY post pictures of chairs. We believe that chairs are an underappreciated piece of furniture, and we want to give them the attention they deserve!</h3>
    <div class="row mt-4">
      <div class="col-md-6">
        <h2 class="mb-2">Why Chairs?</h2>
        <h4 class="mb-3">Chairs are essential to our daily lives. Whether you're sitting at a desk, having a meal, or just relaxing, chairs are always there to support you. Yet, how often do we stop to appreciate their design and functionality?</h4>
        <h4 class="mb-3">At Tables, we want to change that. By focusing solely on chairs, we hope to create a community that shares our love and appreciation for this humble yet indispensable piece of furniture.</h4>
      </div>
      <div class="col-md-6">
        <h2 class="mb-2">How It Works</h2>
        <h4 class="mb-3">Posting on Tables is easy! All you have to do is upload a picture of a chair, give it a title, and then hit submit.</h4>
        <h4 class="mb-3">If your post contains a chair, it will be visible on our feed for other users to see and like. Make sure to also leave comments and likes on other users' posts!</h4>
        <h4 class="mb-3">So what are you waiting for? Join the Tables community today and start sharing your love of chairs!</h4>
      </div>
      <div class="mt-5">
        <h3>Make sure to NOT to post images of Tables!</h3>
        <a class="btn btn-primary" href="/signup">Join Today!</a>
      </div>
    </div>
  </div>
{% endblock %}
